#header, #searchbar, #save, #options, .next, #banner, #toc, .toc, .toplink, #form, #cart, .action, .hide, .close, #feedback, .noprint
{
	display: none ! important;
}
div.section
{
	page-break-inside:avoid;
}

span.history, td.tools, th.tools
{
	display: none;
	visibility: hidden;
}
div#footer
{
	clear:both;
	position:static ! important;
	bottom:0;
}

table.sequence td.feature{
	border: 1pt solid #000000;
} 